* text=auto !eol
/Makefile svneol=native#text/plain
/Makefile.fpc svneol=native#text/plain
compiler/packages/compat/pascodegen.pp svneol=native#text/plain
demo/dataabstract/DataAbstract.js -text
demo/dataabstract/DataAbstract4_intf.js -text
demo/dataabstract/RemObjectsSDK.js -text
demo/dataabstract/sampleda.html -text
demo/dataabstract/sampleda.lpi svneol=native#text/plain
demo/dataabstract/sampleda.lpr svneol=native#text/plain
demo/fcldb/countries-1.json -text
demo/fcldb/countries-2.json -text
demo/fcldb/countries-3.json -text
demo/fcldb/countries.json -text
demo/fcldb/demodb.html -text
demo/fcldb/demodb.lpi svneol=native#text/plain
demo/fcldb/demodb.lpr svneol=native#text/plain
demo/fcldb/demoload.html -text
demo/fcldb/demoload.lpi svneol=native#text/plain
demo/fcldb/demoload.lpr svneol=native#text/plain
demo/fcldb/demorest.html -text
demo/fcldb/demorest.lpi svneol=native#text/plain
demo/fcldb/demorest.lpr svneol=native#text/plain
demo/fcldb/restdata.pp svneol=native#text/plain
demo/fcldb/restserver.lpi svneol=native#text/plain
demo/fcldb/restserver.pas svneol=native#text/plain
demo/fpcunit/browsertest.cfg -text
demo/fpcunit/browsertest.html -text
demo/fpcunit/browsertest.lpi svneol=native#text/plain
demo/fpcunit/browsertest.lpr svneol=native#text/plain
demo/fpcunit/demotests.pp svneol=native#text/plain
demo/fpcunit/fpcunit.css -text
demo/fpcunit/frmrunform.pp svneol=native#text/plain
demo/fpreport/README.md -text
demo/fpreport/bootstrap.min.css -text
demo/fpreport/frmmain.pp svneol=native#text/plain
demo/fpreport/reportdemo.html -text
demo/fpreport/reportdemo.lpi svneol=native#text/plain
demo/fpreport/reportdemo.lpr svneol=native#text/plain
demo/hotreload/dirwatch.pp svneol=native#text/plain
demo/hotreload/hotreload.cfg -text
demo/hotreload/hotreload.html -text
demo/hotreload/hotreload.lpi svneol=native#text/plain
demo/hotreload/hotreload.lpr svneol=native#text/plain
demo/hotreload/server.lpi svneol=native#text/plain
demo/hotreload/server.lpr svneol=native#text/plain
demo/hotreload/status.json -text
demo/jquery/demoadd.html -text
demo/jquery/demoadd.lpi svneol=native#text/plain
demo/jquery/demoadd.pas svneol=native#text/plain
demo/jquery/demoaddclass.html -text
demo/jquery/demoaddclass.pas svneol=native#text/plain
demo/jquery/demoaddclass2.html -text
demo/jquery/demoaddclass2.pas svneol=native#text/plain
demo/promise/askmom.html -text
demo/promise/askmom.lpi svneol=native#text/plain
demo/promise/askmom.pas svneol=native#text/plain
demo/promise/chapter-1.json -text
demo/promise/chapter-2.json -text
demo/promise/chapter-3.json -text
demo/promise/chapter-4.json -text
demo/promise/chapter-5.json -text
demo/promise/demoall.html -text
demo/promise/demoall.lpi svneol=native#text/plain
demo/promise/demoall.lpr svneol=native#text/plain
demo/promise/readme.md -text
demo/promise/story.html -text
demo/promise/story.json -text
demo/promise/story.lpi svneol=native#text/plain
demo/promise/story.lpr svneol=native#text/plain
demo/promise/story2.html -text
demo/promise/story2.lpi svneol=native#text/plain
demo/promise/story2.lpr svneol=native#text/plain
demo/promise/story3.html -text
demo/promise/story3.lpi svneol=native#text/plain
demo/promise/story3.lpr svneol=native#text/plain
demo/promise/styles.css -text
demo/promise/utils.pp svneol=native#text/plain
demo/router/README.md -text
demo/router/demorouter.html -text
demo/router/demorouter.lpi svneol=native#text/plain
demo/router/demorouter.pas svneol=native#text/plain
demo/router/demorouter2.html -text
demo/router/demorouter2.lpi svneol=native#text/plain
demo/router/demorouter2.pas svneol=native#text/plain
demo/router/frmdemo.pp svneol=native#text/plain
demo/router/histsrv.js -text
demo/router/histsrv2.js -text
demo/rtl/README.md -text
demo/rtl/ajax.pas svneol=native#text/plain
demo/rtl/countries.json -text
demo/rtl/demo_njsprocess.pas svneol=native#text/plain
demo/rtl/demoajax.html -text
demo/rtl/demoajax.lpi svneol=native#text/plain
demo/rtl/demoajax.lpr svneol=native#text/plain
demo/rtl/demobrowserconsole.html -text
demo/rtl/demobrowserconsole.lpi svneol=native#text/plain
demo/rtl/demobrowserconsole.lpr svneol=native#text/plain
demo/rtl/democanvas2d.html -text
demo/rtl/democanvas2d.lpi svneol=native#text/plain
demo/rtl/democanvas2d.pas svneol=native#text/plain
demo/rtl/democlasstopas.html -text
demo/rtl/democlasstopas.lpi svneol=native#text/plain
demo/rtl/democlasstopas.pas svneol=native#text/plain
demo/rtl/democollection.html -text
demo/rtl/democollection.lpi svneol=native#text/plain
demo/rtl/democollection.pas svneol=native#text/plain
demo/rtl/democomponents.html -text
demo/rtl/democomponents.lpi svneol=native#text/plain
demo/rtl/democomponents.lpr svneol=native#text/plain
demo/rtl/demodatetime.lpi svneol=native#text/plain
demo/rtl/demodatetime.pas svneol=native#text/plain
demo/rtl/demodocument1.html -text
demo/rtl/demodocument1.pas svneol=native#text/plain
demo/rtl/demodombuttonevent.html -text
demo/rtl/demodombuttonevent.lpi svneol=native#text/plain
demo/rtl/demodombuttonevent.pas svneol=native#text/plain
demo/rtl/demojsarray.lpi svneol=native#text/plain
demo/rtl/demojsarray.pas svneol=native#text/plain
demo/rtl/demojsdataarray.pas svneol=native#text/plain
demo/rtl/demojsregexp.pas svneol=native#text/plain
demo/rtl/demojsstring.pas svneol=native#text/plain
demo/rtl/demonew.html -text
demo/rtl/demonew.pas svneol=native#text/plain
demo/rtl/demorouter.lpi svneol=native#text/plain
demo/rtl/demorouter.pas svneol=native#text/plain
demo/rtl/demortti.lpi svneol=native#text/plain
demo/rtl/demortti.pas svneol=native#text/plain
demo/rtl/demostringlist.html -text
demo/rtl/demostringlist.lpi svneol=native#text/plain
demo/rtl/demostringlist.pas svneol=native#text/plain
demo/rtl/demouncaughtexception.html -text
demo/rtl/demouncaughtexception.lpi svneol=native#text/plain
demo/rtl/demouncaughtexception.pas svneol=native#text/plain
demo/rtl/demoxhr.html -text
demo/rtl/demoxhr.lpi svneol=native#text/plain
demo/rtl/demoxhr.lpr svneol=native#text/plain
demo/webcompiler/demowebcompiler.lpi svneol=native#text/plain
demo/webcompiler/demowebcompiler.lpr svneol=native#text/plain
demo/webcompiler/run.html -text
demo/webcompiler/webcompiler.html -text
/fpmake.pp svneol=native#text/plain
packages/dataabstract/da.pas svneol=native#text/plain
packages/dataabstract/dadataset.pas svneol=native#text/plain
packages/dataabstract/dasdk.pas svneol=native#text/plain
packages/dataabstract/rosdk.pas svneol=native#text/plain
packages/fcl-base/browserapp.pas svneol=native#text/plain
packages/fcl-base/custapp.pas svneol=native#text/plain
packages/fcl-base/fcl_base_pas2js.lpk -text
packages/fcl-base/fcl_base_pas2js.pas svneol=native#text/plain
packages/fcl-base/nodejsapp.pas svneol=native#text/plain
packages/fcl-db/db.pas svneol=native#text/plain
packages/fcl-db/dbconst.pas svneol=native#text/plain
packages/fcl-db/extjsdataset.pas svneol=native#text/plain
packages/fcl-db/jsondataset.pas svneol=native#text/plain
packages/fcl-db/pas2js_fcldb.lpk -text
packages/fcl-db/pas2js_fcldb.pas svneol=native#text/plain
packages/fcl-db/restconnection.pas svneol=native#text/plain
packages/fpcunit/browsertestrunner.pas svneol=native#text/plain
packages/fpcunit/consoletestrunner.pas svneol=native#text/plain
packages/fpcunit/fpcunit.css -text
packages/fpcunit/fpcunit.pas svneol=native#text/plain
packages/fpcunit/fpcunit_pas2js.lpk -text
packages/fpcunit/fpcunit_pas2js.pas svneol=native#text/plain
packages/fpcunit/fpcunitreport.pas svneol=native#text/plain
packages/fpcunit/htmltestreport.pp svneol=native#text/plain
packages/fpcunit/plaintestreport.pas svneol=native#text/plain
packages/fpcunit/testdecorator.pas svneol=native#text/plain
packages/fpcunit/testregistry.pas svneol=native#text/plain
packages/nodejs/nodejsfs.pas svneol=native#text/plain
packages/rtl/README.txt svneol=native#text/plain
packages/rtl/browserconsole.pas svneol=native#text/plain
packages/rtl/class2pas.pas svneol=native#text/plain
packages/rtl/classes.pas svneol=native#text/plain
packages/rtl/contnrs.pas svneol=native#text/plain
packages/rtl/dateutils.pas svneol=native#text/plain
packages/rtl/hotreloadclient.pas svneol=native#text/plain
packages/rtl/js.pas svneol=native#text/plain
packages/rtl/libjquery.pas svneol=native#text/plain
packages/rtl/math.pas svneol=native#text/plain
packages/rtl/nodejs.pas svneol=native#text/plain
packages/rtl/objpas.pas svneol=native#text/plain
packages/rtl/pas2js_rtl.lpk -text
packages/rtl/pas2js_rtl.pas svneol=native#text/plain
packages/rtl/rtlconsts.pas svneol=native#text/plain
packages/rtl/rtti.pas svneol=native#text/plain
packages/rtl/strutils.pas svneol=native#text/plain
packages/rtl/system.pas svneol=native#text/plain
packages/rtl/sysutils.pas svneol=native#text/plain
packages/rtl/timer.pas svneol=native#text/plain
packages/rtl/types.pas svneol=native#text/plain
packages/rtl/typinfo.pas svneol=native#text/plain
packages/rtl/web.pas svneol=native#text/plain
packages/rtl/webaudio.pas svneol=native#text/plain
packages/rtl/webbluetooth.pas svneol=native#text/plain
packages/rtl/webgl.pas svneol=native#text/plain
packages/rtl/webrouter.pp svneol=native#text/plain
utils/createconfig.pp svneol=native#text/plain
