* text=auto !eol
/Makefile svneol=native#text/plain
/Makefile.fpc svneol=native#text/plain
/README.txt svneol=native#text/plain
compiler/packages/compat/pascodegen.pp svneol=native#text/plain
demo/Makefile svneol=native#text/plain
demo/asyncawait/description.txt svneol=native#text/plain
demo/asyncawait/fpc.png -text svneol=unset#image/png
demo/asyncawait/manualpromise.html -text
demo/asyncawait/manualpromise.lpi svneol=native#text/plain
demo/asyncawait/manualpromise.lpr svneol=native#text/plain
demo/asyncawait/pas2js.png -text svneol=unset#image/png
demo/asyncawait/tryfetch.html -text
demo/asyncawait/tryfetch.lpi svneol=native#text/plain
demo/asyncawait/tryfetch.lpr svneol=native#text/plain
demo/asyncawait/trymany.html -text
demo/asyncawait/trymany.lpi svneol=native#text/plain
demo/asyncawait/trymany.lpr svneol=native#text/plain
demo/bootstrap/bootstraptable.html -text
demo/bootstrap/countries.json -text
demo/bootstrap/demobootstraptable.lpi svneol=native#text/plain
demo/bootstrap/demobootstraptable.lpr svneol=native#text/plain
demo/chartjs/chartjs_demos.lpg -text
demo/chartjs/demoarea.html -text
demo/chartjs/demoarea.lpi svneol=native#text/plain
demo/chartjs/demoarea.lpr svneol=native#text/plain
demo/chartjs/demobar.html -text
demo/chartjs/demobar.lpi svneol=native#text/plain
demo/chartjs/demobar.lpr svneol=native#text/plain
demo/chartjs/demobubble.html -text
demo/chartjs/demobubble.lpi svneol=native#text/plain
demo/chartjs/demobubble.lpr svneol=native#text/plain
demo/chartjs/democustompoints.html -text
demo/chartjs/democustompoints.lpi svneol=native#text/plain
demo/chartjs/democustompoints.lpr svneol=native#text/plain
demo/chartjs/demodatalabelling.html -text
demo/chartjs/demodatalabelling.lpi svneol=native#text/plain
demo/chartjs/demodatalabelling.lpr svneol=native#text/plain
demo/chartjs/demodate.html -text
demo/chartjs/demodate.lpi svneol=native#text/plain
demo/chartjs/demodate.lpr svneol=native#text/plain
demo/chartjs/demodoughnut.html -text
demo/chartjs/demodoughnut.lpi svneol=native#text/plain
demo/chartjs/demodoughnut.lpr svneol=native#text/plain
demo/chartjs/demointeractions.html -text
demo/chartjs/demointeractions.lpi svneol=native#text/plain
demo/chartjs/demointeractions.lpr svneol=native#text/plain
demo/chartjs/demoline.html -text
demo/chartjs/demoline.lpi svneol=native#text/plain
demo/chartjs/demoline.lpr svneol=native#text/plain
demo/chartjs/demomixed.html -text
demo/chartjs/demomixed.lpi svneol=native#text/plain
demo/chartjs/demomixed.lpr svneol=native#text/plain
demo/chartjs/demopie.html -text
demo/chartjs/demopie.lpi svneol=native#text/plain
demo/chartjs/demopie.lpr svneol=native#text/plain
demo/chartjs/demopolararea.html -text
demo/chartjs/demopolararea.lpi svneol=native#text/plain
demo/chartjs/demopolararea.lpr svneol=native#text/plain
demo/chartjs/demoprogressbar.html -text
demo/chartjs/demoprogressbar.lpi svneol=native#text/plain
demo/chartjs/demoprogressbar.lpr svneol=native#text/plain
demo/chartjs/demoradar.html -text
demo/chartjs/demoradar.lpi svneol=native#text/plain
demo/chartjs/demoradar.lpr svneol=native#text/plain
demo/chartjs/demoscatter.html -text
demo/chartjs/demoscatter.lpi svneol=native#text/plain
demo/chartjs/demoscatter.lpr svneol=native#text/plain
demo/chartjs/demoscriptablebubble.html -text
demo/chartjs/demoscriptablebubble.lpi svneol=native#text/plain
demo/chartjs/demoscriptablebubble.lpr svneol=native#text/plain
demo/chartjs/demotime.html -text
demo/chartjs/demotime.lpi svneol=native#text/plain
demo/chartjs/demotime.lpr svneol=native#text/plain
demo/chartjs/index.html -text
demo/dataabstract/DataAbstract.js -text
demo/dataabstract/DataAbstract4_intf.js -text
demo/dataabstract/RemObjectsSDK.js -text
demo/dataabstract/sampleda.html -text
demo/dataabstract/sampleda.lpi svneol=native#text/plain
demo/dataabstract/sampleda.lpr svneol=native#text/plain
demo/dynload/FormFactory.pas svneol=native#text/plain
demo/dynload/MyFormDep.pas svneol=native#text/plain
demo/dynload/myform.pp svneol=native#text/plain
demo/dynload/myformdep2.pp svneol=native#text/plain
demo/dynload/testloader.html -text
demo/dynload/testloader.lpi svneol=native#text/plain
demo/dynload/testloader.lpr svneol=native#text/plain
demo/errorhandler/errordemo.lpi svneol=native#text/plain
demo/errorhandler/errordemo.lpr svneol=native#text/plain
demo/errorhandler/index.html -text
demo/fcldb/countries-1.json -text
demo/fcldb/countries-2.json -text
demo/fcldb/countries-3.json -text
demo/fcldb/countries.json -text
demo/fcldb/demodb.html -text
demo/fcldb/demodb.lpi svneol=native#text/plain
demo/fcldb/demodb.lpr svneol=native#text/plain
demo/fcldb/demoload.html -text
demo/fcldb/demoload.lpi svneol=native#text/plain
demo/fcldb/demoload.lpr svneol=native#text/plain
demo/fcldb/demorest.html -text
demo/fcldb/demorest.lpi svneol=native#text/plain
demo/fcldb/demorest.lpr svneol=native#text/plain
demo/fcldb/restdata.pp svneol=native#text/plain
demo/fcldb/restserver.lpi svneol=native#text/plain
demo/fcldb/restserver.pas svneol=native#text/plain
demo/fpcunit/browsertest.cfg -text
demo/fpcunit/browsertest.html -text
demo/fpcunit/browsertest.lpi svneol=native#text/plain
demo/fpcunit/browsertest.lpr svneol=native#text/plain
demo/fpcunit/demotests.pp svneol=native#text/plain
demo/fpcunit/fpcunit.css -text
demo/fpcunit/frmrunform.pp svneol=native#text/plain
demo/fpreport/README.md -text
demo/fpreport/bootstrap.min.css -text
demo/fpreport/frmmain.pp svneol=native#text/plain
demo/fpreport/reportdemo.html -text
demo/fpreport/reportdemo.lpi svneol=native#text/plain
demo/fpreport/reportdemo.lpr svneol=native#text/plain
demo/fullcalendar/demofullcalendar.html -text
demo/fullcalendar/demofullcalendar.lpi svneol=native#text/plain
demo/fullcalendar/demofullcalendar.lpr svneol=native#text/plain
demo/hotreload/dirwatch.pp svneol=native#text/plain
demo/hotreload/hotreload.cfg -text
demo/hotreload/hotreload.html -text
demo/hotreload/hotreload.lpi svneol=native#text/plain
demo/hotreload/hotreload.lpr svneol=native#text/plain
demo/hotreload/server.lpi svneol=native#text/plain
demo/hotreload/server.lpr svneol=native#text/plain
demo/hotreload/status.json -text
demo/jitsimeet/demojitsimeet.lpi svneol=native#text/plain
demo/jitsimeet/demojitsimeet.lpr svneol=native#text/plain
demo/jitsimeet/index.html -text
demo/jquery/demoadd.html -text
demo/jquery/demoadd.lpi svneol=native#text/plain
demo/jquery/demoadd.pas svneol=native#text/plain
demo/jquery/demoaddclass.html -text
demo/jquery/demoaddclass.pas svneol=native#text/plain
demo/jquery/demoaddclass2.html -text
demo/jquery/demoaddclass2.pas svneol=native#text/plain
demo/jspdf/basic.html -text
demo/jspdf/basic.lpi svneol=native#text/plain
demo/jspdf/basic.lpr svneol=native#text/plain
demo/nodehttpserver/nodehttpdemo.lpi svneol=native#text/plain
demo/nodehttpserver/nodehttpdemo.lpr svneol=native#text/plain
demo/opentok/css/app.css -text
demo/opentok/demoopentok.lpi svneol=native#text/plain
demo/opentok/demoopentok.lpr svneol=native#text/plain
demo/opentok/index.html -text
demo/pacman/audio/die.mp3 -text
demo/pacman/audio/eatghost.mp3 -text
demo/pacman/audio/eating.mp3 -text
demo/pacman/audio/start.mp3 -text
demo/pacman/cherry.png -text svneol=unset#image/png
demo/pacman/ghost-scared.png -text svneol=unset#image/png
demo/pacman/ghost1.png -text svneol=unset#image/png
demo/pacman/ghost2.png -text svneol=unset#image/png
demo/pacman/ghost3.png -text svneol=unset#image/png
demo/pacman/ghost4.png -text svneol=unset#image/png
demo/pacman/pacman.css -text
demo/pacman/pacman.html -text
demo/pacman/pacman.lpi svneol=native#text/plain
demo/pacman/pacman.lpr svneol=native#text/plain
demo/pacman/upacman.pp svneol=native#text/plain
demo/pas2js_demos.lpg -text
demo/promise/askmom.html -text
demo/promise/askmom.lpi svneol=native#text/plain
demo/promise/askmom.pas svneol=native#text/plain
demo/promise/chapter-1.json -text
demo/promise/chapter-2.json -text
demo/promise/chapter-3.json -text
demo/promise/chapter-4.json -text
demo/promise/chapter-5.json -text
demo/promise/demoall.html -text
demo/promise/demoall.lpi svneol=native#text/plain
demo/promise/demoall.lpr svneol=native#text/plain
demo/promise/promise_demos.lpg -text
demo/promise/readme.md -text
demo/promise/story.html -text
demo/promise/story.json -text
demo/promise/story.lpi svneol=native#text/plain
demo/promise/story.lpr svneol=native#text/plain
demo/promise/story2.html -text
demo/promise/story2.lpi svneol=native#text/plain
demo/promise/story2.lpr svneol=native#text/plain
demo/promise/story3.html -text
demo/promise/story3.lpi svneol=native#text/plain
demo/promise/story3.lpr svneol=native#text/plain
demo/promise/styles.css -text
demo/promise/utils.pp svneol=native#text/plain
demo/pushjs/helloworld.html -text
demo/pushjs/helloworld.lpi svneol=native#text/plain
demo/pushjs/helloworld.lpr svneol=native#text/plain
demo/resources/consoledemo.lpi svneol=native#text/plain
demo/resources/consoledemo.lpr svneol=native#text/plain
demo/resources/css/stylejs.css -text
demo/resources/css/stylelink.css -text
demo/resources/down.png -text svneol=unset#image/png
demo/resources/help.txt svneol=native#text/plain
demo/resources/htmldemo.html -text
demo/resources/htmldemo.lpi svneol=native#text/plain
demo/resources/htmldemo.lpr svneol=native#text/plain
demo/resources/htmllinkdemo.html -text
demo/resources/htmllinkdemo.lpi svneol=native#text/plain
demo/resources/htmllinkdemo.lpr svneol=native#text/plain
demo/resources/htmlloadlinkdemo.html -text
demo/resources/htmlloadlinkdemo.lpi svneol=native#text/plain
demo/resources/htmlloadlinkdemo.lpr svneol=native#text/plain
demo/resources/left.png -text svneol=unset#image/png
demo/resources/right.png -text svneol=unset#image/png
demo/resources/testa.html -text
demo/resources/testb.html -text
demo/resources/testres.html -text
demo/resources/unita.pp svneol=native#text/plain
demo/resources/unitb.pp svneol=native#text/plain
demo/resources/up.png -text svneol=unset#image/png
demo/restbridge/simple/README.txt svneol=native#text/plain
demo/restbridge/simple/restbridge.html -text
demo/restbridge/simple/restbridgeclient.lpi svneol=native#text/plain
demo/restbridge/simple/restbridgeclient.lpr svneol=native#text/plain
demo/router/README.md -text
demo/router/demorouter.html -text
demo/router/demorouter.lpi svneol=native#text/plain
demo/router/demorouter.pas svneol=native#text/plain
demo/router/demorouter2.html -text
demo/router/demorouter2.lpi svneol=native#text/plain
demo/router/demorouter2.pas svneol=native#text/plain
demo/router/frmdemo.pp svneol=native#text/plain
demo/router/histsrv.js -text
demo/router/histsrv2.js -text
demo/rtl/README.md -text
demo/rtl/ajax.pas svneol=native#text/plain
demo/rtl/countries.json -text
demo/rtl/demo_njsprocess.pas svneol=native#text/plain
demo/rtl/demoajax.html -text
demo/rtl/demoajax.lpi svneol=native#text/plain
demo/rtl/demoajax.lpr svneol=native#text/plain
demo/rtl/demobrowserconsole.html -text
demo/rtl/demobrowserconsole.lpi svneol=native#text/plain
demo/rtl/demobrowserconsole.lpr svneol=native#text/plain
demo/rtl/democanvas2d.html -text
demo/rtl/democanvas2d.lpi svneol=native#text/plain
demo/rtl/democanvas2d.pas svneol=native#text/plain
demo/rtl/democlasstopas.html -text
demo/rtl/democlasstopas.lpi svneol=native#text/plain
demo/rtl/democlasstopas.pas svneol=native#text/plain
demo/rtl/democollection.html -text
demo/rtl/democollection.lpi svneol=native#text/plain
demo/rtl/democollection.pas svneol=native#text/plain
demo/rtl/democomponents.html -text
demo/rtl/democomponents.lpi svneol=native#text/plain
demo/rtl/democomponents.lpr svneol=native#text/plain
demo/rtl/demodatetime.lpi svneol=native#text/plain
demo/rtl/demodatetime.pas svneol=native#text/plain
demo/rtl/demodocument1.html -text
demo/rtl/demodocument1.pas svneol=native#text/plain
demo/rtl/demodombuttonevent.html -text
demo/rtl/demodombuttonevent.lpi svneol=native#text/plain
demo/rtl/demodombuttonevent.pas svneol=native#text/plain
demo/rtl/demojsarray.lpi svneol=native#text/plain
demo/rtl/demojsarray.pas svneol=native#text/plain
demo/rtl/demojsdataarray.pas svneol=native#text/plain
demo/rtl/demojsregexp.pas svneol=native#text/plain
demo/rtl/demojsstring.pas svneol=native#text/plain
demo/rtl/demonew.html -text
demo/rtl/demonew.pas svneol=native#text/plain
demo/rtl/demonodecmdlineoptions.lpi svneol=native#text/plain
demo/rtl/demonodecmdlineoptions.pas svneol=native#text/plain
demo/rtl/demorouter.lpi svneol=native#text/plain
demo/rtl/demorouter.pas svneol=native#text/plain
demo/rtl/demortti.lpi svneol=native#text/plain
demo/rtl/demortti.pas svneol=native#text/plain
demo/rtl/demostringlist.html -text
demo/rtl/demostringlist.lpi svneol=native#text/plain
demo/rtl/demostringlist.pas svneol=native#text/plain
demo/rtl/demouncaughtexception.html -text
demo/rtl/demouncaughtexception.lpi svneol=native#text/plain
demo/rtl/demouncaughtexception.pas svneol=native#text/plain
demo/rtl/demoxhr.html -text
demo/rtl/demoxhr.lpi svneol=native#text/plain
demo/rtl/demoxhr.lpr svneol=native#text/plain
demo/rtl/rtl_demos.lpg -text
demo/templates/favicon.ico -text
demo/templates/index.html -text
demo/templates/templates.lpi svneol=native#text/plain
demo/templates/templates.lpr svneol=native#text/plain
demo/templates/templates/this.txt svneol=native#text/plain
demo/templates/templates/thistoo.txt svneol=native#text/plain
demo/tetris/tetris.css -text
demo/tetris/tetris.html -text
demo/tetris/tetris.lpi svneol=native#text/plain
demo/tetris/tetris.lpr svneol=native#text/plain
demo/tetris/tetrislogo.png -text svneol=unset#image/png
demo/tetris/utetris.pp svneol=native#text/plain
demo/translate/dutch.json -text
demo/translate/mystrings.pp svneol=native#text/plain
demo/translate/translate_basic.html -text
demo/translate/translate_basic.lpi svneol=native#text/plain
demo/translate/translate_basic.lpr svneol=native#text/plain
demo/translate/translate_object.html -text
demo/translate/translate_object.lpi svneol=native#text/plain
demo/translate/translate_object.lpr svneol=native#text/plain
demo/translate/translate_url.html -text
demo/translate/translate_url.lpi svneol=native#text/plain
demo/translate/translate_url.lpr svneol=native#text/plain
demo/webcompiler/demowebcompiler.lpi svneol=native#text/plain
demo/webcompiler/demowebcompiler.lpr svneol=native#text/plain
demo/webcompiler/run.html -text
demo/webcompiler/webcompiler.html -text
demo/webgl/GLTypes.pas svneol=native#text/plain
demo/webgl/GLUtils.pas svneol=native#text/plain
demo/webgl/Mat4.pas svneol=native#text/plain
demo/webgl/Matrix.pas svneol=native#text/plain
demo/webgl/MemoryBuffer.pas svneol=native#text/plain
demo/webgl/Noise.pas svneol=native#text/plain
demo/webgl/Pas2JS_WebGL.lpi svneol=native#text/plain
demo/webgl/Pas2JS_WebGL.pas svneol=native#text/plain
demo/webgl/Pas2JS_WebGL_Minimal.lpi svneol=native#text/plain
demo/webgl/Pas2JS_WebGL_Minimal.pas svneol=native#text/plain
demo/webgl/Pas2JS_WebGL_OBJ.lpi svneol=native#text/plain
demo/webgl/Pas2JS_WebGL_OBJ.pas svneol=native#text/plain
demo/webgl/Pas2JS_WebGL_Terrain.lpi svneol=native#text/plain
demo/webgl/Pas2JS_WebGL_Terrain.pas svneol=native#text/plain
demo/webgl/README.txt svneol=native#text/plain
demo/webgl/Terrain.pas svneol=native#text/plain
demo/webgl/html/Pas2JS_WebGL.html svneol=native#text/plain
demo/webgl/html/Pas2JS_WebGL_Minimal.html svneol=native#text/plain
demo/webgl/html/Pas2JS_WebGL_OBJ.html svneol=native#text/plain
demo/webgl/html/Pas2JS_WebGL_Terrain.html svneol=native#text/plain
demo/webgl/html/res/cube.obj -text
demo/webgl/html/res/dragon.obj -text
demo/webgl/html/res/ground.jpg -text svneol=unset#image/jpeg
demo/webgl/html/res/spacestars.jpg -text svneol=unset#image/jpeg
demo/webgl/project1.lpi svneol=native#text/plain
demo/webgl/project1.lpr svneol=native#text/plain
demo/webgl/webgl_demos.lpg -text
demo/webwidget/designdemo/design.css -text
demo/webwidget/designdemo/designdemo.html -text
demo/webwidget/designdemo/designdemo.lpi svneol=native#text/plain
demo/webwidget/designdemo/designdemo.lpr svneol=native#text/plain
demo/webwidget/designdemo/designer.pp svneol=native#text/plain
demo/webwidget/designdemo/webideclient.pp svneol=native#text/plain
demo/webwidget/designdemo/widgets/button.png -text svneol=unset#image/png
demo/webwidget/designdemo/widgets/checkbox.png -text svneol=unset#image/png
demo/webwidget/designdemo/widgets/container.png -text svneol=unset#image/png
demo/webwidget/designdemo/widgets/edit.png -text svneol=unset#image/png
demo/webwidget/designdemo/widgets/image.png -text svneol=unset#image/png
demo/webwidget/designdemo/widgets/jumbo.png -text svneol=unset#image/png
demo/webwidget/designdemo/widgets/memo.png -text svneol=unset#image/png
demo/webwidget/designdemo/widgets/radio.png -text svneol=unset#image/png
demo/webwidget/designdemo/widgets/select.png -text svneol=unset#image/png
demo/webwidget/nativedesign/frmmain.lfm svneol=native#text/plain
demo/webwidget/nativedesign/frmmain.pp svneol=native#text/plain
demo/webwidget/nativedesign/nativedesigner.ico -text
demo/webwidget/nativedesign/nativedesigner.lpi svneol=native#text/plain
demo/webwidget/nativedesign/nativedesigner.lpr svneol=native#text/plain
demo/webwidget/nativedesign/nativedesigner.res -text
demo/webwidget/nativedesign/webideintf.pp svneol=native#text/plain
/fpmake.pp svneol=native#text/plain
packages/bootstrap/libbootstrap.pp svneol=native#text/plain
packages/bootstrap/libbootstraptable.pp svneol=native#text/plain
packages/chartjs/chartjs.pas svneol=native#text/plain
packages/dataabstract/da.pas svneol=native#text/plain
packages/dataabstract/dadataset.pas svneol=native#text/plain
packages/dataabstract/dasdk.pas svneol=native#text/plain
packages/dataabstract/rosdk.pas svneol=native#text/plain
packages/fcl-base/browserapp.pas svneol=native#text/plain
packages/fcl-base/custapp.pas svneol=native#text/plain
packages/fcl-base/fcl_base_pas2js.lpk -text
packages/fcl-base/fcl_base_pas2js.pas svneol=native#text/plain
packages/fcl-base/fpexprpars.pas svneol=native#text/plain
packages/fcl-base/nodejsapp.pas svneol=native#text/plain
packages/fcl-db/db.pas svneol=native#text/plain
packages/fcl-db/dbconst.pas svneol=native#text/plain
packages/fcl-db/extjsdataset.pas svneol=native#text/plain
packages/fcl-db/fieldmap.pp svneol=native#text/plain
packages/fcl-db/jsondataset.pas svneol=native#text/plain
packages/fcl-db/pas2js_fcldb.lpk -text
packages/fcl-db/pas2js_fcldb.pas svneol=native#text/plain
packages/fcl-db/restconnection.pas svneol=native#text/plain
packages/fcl-db/sqldbrestdataset.pp svneol=native#text/plain
packages/fpcunit/browsertestrunner.pas svneol=native#text/plain
packages/fpcunit/consoletestrunner.pas svneol=native#text/plain
packages/fpcunit/fpcunit.css -text
packages/fpcunit/fpcunit.pas svneol=native#text/plain
packages/fpcunit/fpcunit_pas2js.lpk -text
packages/fpcunit/fpcunit_pas2js.pas svneol=native#text/plain
packages/fpcunit/fpcunitreport.pas svneol=native#text/plain
packages/fpcunit/htmltestreport.pp svneol=native#text/plain
packages/fpcunit/plaintestreport.pas svneol=native#text/plain
packages/fpcunit/testdecorator.pas svneol=native#text/plain
packages/fpcunit/testregistry.pas svneol=native#text/plain
packages/fullcalendar/libfullcalendar.pp svneol=native#text/plain
packages/jitsimeet/libjitsimeet.pp svneol=native#text/plain
packages/jspdf/jspdf.pas svneol=native#text/plain
packages/nodejs/node.fs.pas -text
packages/nodejs/node.http.pas svneol=native#text/plain
packages/nodejs/node.net.pas svneol=native#text/plain
packages/nodejs/node.onoff.pas -text
packages/nodejs/node.spidevice.pas -text
packages/nodejs/node.url.pas svneol=native#text/plain
packages/opentok/libopentok.pas svneol=native#text/plain
packages/pushjs/pushjs.js -text
packages/pushjs/pushjs.pas svneol=native#text/plain
packages/rtl/README.txt svneol=native#text/plain
packages/rtl/Rtl.ScriptLoader.pas svneol=native#text/plain
packages/rtl/Rtl.TemplateLoader.pas svneol=native#text/plain
packages/rtl/Rtl.UnitLoader.pas svneol=native#text/plain
packages/rtl/browserconsole.pas svneol=native#text/plain
packages/rtl/class2pas.pas svneol=native#text/plain
packages/rtl/classes.pas svneol=native#text/plain
packages/rtl/contnrs.pas svneol=native#text/plain
packages/rtl/dateutils.pas svneol=native#text/plain
packages/rtl/generics.collections.pas svneol=native#text/plain
packages/rtl/generics.defaults.pas svneol=native#text/plain
packages/rtl/generics.strings.pas svneol=native#text/plain
packages/rtl/hotreloadclient.pas svneol=native#text/plain
packages/rtl/js.pas svneol=native#text/plain
packages/rtl/libjquery.pas svneol=native#text/plain
packages/rtl/math.pas svneol=native#text/plain
packages/rtl/nodejs.pas svneol=native#text/plain
packages/rtl/objpas.pas svneol=native#text/plain
packages/rtl/p2jsres.pp svneol=native#text/plain
packages/rtl/pas2js_rtl.lpk -text
packages/rtl/pas2js_rtl.pas svneol=native#text/plain
packages/rtl/rstranslate.pp svneol=native#text/plain
packages/rtl/rtlconsts.pas svneol=native#text/plain
packages/rtl/rtti.pas svneol=native#text/plain
packages/rtl/simplelinkedlist.pas svneol=native#text/plain
packages/rtl/strutils.pas svneol=native#text/plain
packages/rtl/system.pas svneol=native#text/plain
packages/rtl/sysutils.pas svneol=native#text/plain
packages/rtl/timer.pas svneol=native#text/plain
packages/rtl/types.pas svneol=native#text/plain
packages/rtl/typinfo.pas svneol=native#text/plain
packages/rtl/web.pas svneol=native#text/plain
packages/rtl/webassembly.pas svneol=native#text/plain
packages/rtl/webaudio.pas svneol=native#text/plain
packages/rtl/webbluetooth.pas svneol=native#text/plain
packages/rtl/webgl.pas svneol=native#text/plain
packages/rtl/webrouter.pp svneol=native#text/plain
packages/rtl/webrtc.pas svneol=native#text/plain
packages/rtl/websvg.pas svneol=native#text/plain
packages/rtl/webutils.pas svneol=native#text/plain
packages/webwidget/dbhtmlwidgets.pp svneol=native#text/plain
packages/webwidget/dbwebwidget.pp svneol=native#text/plain
packages/webwidget/htmlwidgets.pp svneol=native#text/plain
packages/webwidget/lazwebwidgets.lpk -text
packages/webwidget/lazwebwidgets.pas svneol=native#text/plain
packages/webwidget/tests/btnrun.pp svneol=native#text/plain
packages/webwidget/tests/tcdbhtmlwidgets.pp svneol=native#text/plain
packages/webwidget/tests/tcdbwidgets.pp svneol=native#text/plain
packages/webwidget/tests/tchtmlwidgets.pp svneol=native#text/plain
packages/webwidget/tests/tcwidget.pp svneol=native#text/plain
packages/webwidget/tests/testwidgets.html -text
packages/webwidget/tests/testwidgets.lpi svneol=native#text/plain
packages/webwidget/tests/testwidgets.lpr svneol=native#text/plain
packages/webwidget/webwidget.pas svneol=native#text/plain
scripts/buildpas2js -text
test/frmrtlrun.pp svneol=native#text/plain
test/tccompstreaming.pp svneol=native#text/plain
test/tcgenarrayhelper.pas svneol=native#text/plain
test/tcgenericdictionary.pp svneol=native#text/plain
test/tcgenericlist.pp svneol=native#text/plain
test/tcgenericqueue.pp svneol=native#text/plain
test/tcgenericstack.pp svneol=native#text/plain
test/tcstream.pp svneol=native#text/plain
test/tcstreaming.pp svneol=native#text/plain
test/tcstringhelp.pp svneol=native#text/plain
test/tcsyshelpers.pp svneol=native#text/plain
test/testcomps.pp svneol=native#text/plain
test/testrtl.html -text
test/testrtl.lpi svneol=native#text/plain
test/testrtl.lpr svneol=native#text/plain
test/tohelper.inc svneol=native#text/plain
utils/createconfig.pp svneol=native#text/plain
